{% extends "layout.html" %}
{% block content %}
<h1>SHOP</h1>

<div class="sort_form">
  <form id="sorting_form" method="POST">
    <select name="sorting" id="sorting" class="sorting">
      <option value="none" selected="selected" disabled="disabled" hidden="hidden">Select Item Sorting</option>
      <option value="price-desc">Price Descending</option>
      <option value="price-asc">Price Ascending</option>
      <option value="item_name-desc">Name Descending</option>
      <option value="item_name-asc">Name Ascending</option>
    </select>
    <input type="submit" id="sorting_submit" value="Sort">
  </form>
</div>

<form method="POST" action="">
  {% for item in items %}
<p><b> {{ item.item_name }}</b> </p>
  <a href="{{ url_for('item', item_id=item.id) }}"><img src = "{{ url_for('static', filename='img/' + item.image_file) }}"></a>
    <a href="{{ url_for('item', item_id=item.id) }}"></a>
    <p>Price:£{{ item.price }}</p>
    <p>Description: {{item.description}}</p>
    <p>
      <a class="" href="/add_to_cart/{{item.id}}">Add to Cart</a>
      </p>
  {% endfor %}
</form>
{% endblock content %}
