{% extends "layout.html" %}
{% block content %}
<p><b>{{ item.item_name }}</b></p>
<img src = "{{ url_for('static', filename='img/' + item.image_file) }}">


  <p>Maker: {{ item.maker.Name }}</p>
  <p>Price: £{{ item.price }}</p>
  <p>Stock: {{item.stock_level}}</p>
  <p>Description: {{item.description}}</p>
  <a class="" href="/add_to_cart/{{item.id}}">Add to Cart</a>
  <p></p>
  <a class="" href="/add_to_wishlist/{{item.id}}">Add to Wishlist</a>


  <form method="POST" action="">
    {{ form.csrf_token }}

  <div class="user_name_review">
    {{form.user_name.label}} {{form.user_name}}
  </div>
  <div class="body_review_">
    {{form.body.label}} {{form.body}}
  </div>
  <div class="">
    {{form.submit()}}
  </div>
  </form>
  {% for item in review %}
  {% if item.item_id == item.id%}

<div class="reviewcontainer" style="padding-top: 10px; padding-left: 5px;">
    <h6>User: {{item.user_name}}</h6>
    <h6>Review: {{item.body}}</h6>
</div>
  {% endfor %}
  {% endif %}
  {% endif %}
{% endblock content %}
