body {
    background-color: lightgrey;
    font-family: sans-serif;
}
h1 {
  font-size: 20px;
  text-align: center;
}
h2 {
  text-align: center;
}
table, th, td{
  text-align: center;
  border: 1px solid Black;
}
p{
  font-size: 15px;
}
a{
  color: Black;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }
img{
  height: auto;
  width: auto;
}
h3{
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;#
  background-color: #333;
  position:absolute;
  top: 0;
  width: 100%;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active){
  background-color: #111;
}
.active{
  background-color: #4CAF50;
}
img{
  align-items: center;
}
