body {
  font-family:helvetica, sans-serif;
  background-color: #000000;
}

h1 {
  padding-left: 20px;
  font-family:sans-serif;
   color:#ffffff; 
}

a {
  text-decoration:none;
  color: #ffffff
}

a:hover {
  /*color:#77b6e2;*/
  /* color:#cc3300; */
}

#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
    background-color: #5c00e6;
}

p {
  color: #ffffff
}

form{
  color: #ffffff
}

tr{
  color:  #ffffff
}

th{
  color: #ffffff
}

#Banner{
  font-size: 25px;
  background-color: #5c00e6;
  text-align: center;
}

h3{
  color:  #ffffff
}
